<div class='row'>
 <%= render 'layouts/item_sidebar' %>
  <div class='col-md-9 offset-md-1 mt-3'>
   <h3>治療名編集</h3>
   <%= render 'layouts/error', obj: @treatment %>

   <div class="form-group">
    <%= form_with model: @treatment, url: admin_treatment_path(@treatment), method: :patch do |f| %>
     <div class="row d-flex justify-content-center">
      <div class="col-5 mt-2">
       <%= f.label :治療名 %>
        <%= f.text_field :name, class: "form-control"%>
      </div>
      <div class="item-index">
       <%= f.submit "変更保存" ,class: "btn btn-outline-info" %>
     <% end %>
      </div>
     </div>
   </div>

   <div class="row mb-3 d-flex justify-content-center">
    <div class="col-md-5">
    </div>
    <div>
     <%= link_to "削除する", admin_treatment_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-outline-secondary" %>
    </div>
   </div>
   
  </div>
</div>