<div class='row'>
 <%= render 'layouts/item_sidebar' %>
  <div class='col-md-9 offset-md-1 mt-3'>
   <h3>治療一覧・追加</h3>
   <%= render 'layouts/error', obj: @treatment %>

   <div class="form-group">
    <%= form_with model: @treatment, url: admin_treatments_path, method: :post do |f| %>
     <div class="row d-flex justify-content-center">
      <div class="col-5 mt-2">
       <%= f.label :治療名 %>
       <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="item-index">
       <%= f.submit "新規登録", class: "btn btn-outline-info" %>
      </div>
     </div>
    <% end %>
   </div>

    <% @treatments.each do |treatment| %>
     <% if !treatment.is_deleted %>
     <div class="row mb-3 border-bottom d-flex justify-content-center">
      <div class="col-md-5">
       <%= treatment.name %>
      </div>
      <div>
       <%= link_to "編集する", edit_admin_treatment_path(treatment), class: "btn btn-block btn-outline-secondary" %>
      </div>
     </div>
     <% end %>
    <% end %>

    <div class="d-flex justify-content-center mt-3">
      <%= paginate @treatments %>
    </div>
  </div>
</div>