<div class='row'>
  <%= render 'layouts/public_sidebar' %>
  <div class='col-md-9 offset-md-1 mt-3'>
    <h3>予約編集</h3>
      <%= render partial: 'layouts/flash' %>
      <%= render 'layouts/error', obj: @appointment %>

      <%= form_with model: @appointment, url: public_appointment_path do |f| %>

      <div class="form-group">
        <div class="row">
          <div class="col-lg-3">
            患者ID
          </div>
          <div class="col-lg-9">
            <%= @appointment.patient.id %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-lg-3">
            患者名
          </div>
          <div class="col-lg-9">
            <% if @appointment.patient.full_name.present? %>
              <%= @appointment.patient.full_name %> / <%= @appointment.patient.full_name_kana %>
            <% else %>
              <%= @appointment.patient.full_name_kana %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-lg-3 d-flex align-items-center">
            <%= f.label :appointment_date, "予約日時" %>
          </div>
          <div class="col-lg-9">
            <%= f.datetime_field :appointment_date, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-lg-3 d-flex align-items-center">
            <%= f.label "症状" %>
          </div>
          <div class="col-lg-9">
            <%= f.collection_check_boxes(:symptom_ids, Symptom.all, :id, :name) do |b| %>
              <div class="custom-control custom-checkbox custom-control-inline">
                <%= b.check_box(class:"custom-control-input") %>
                <%= b.label(class:"custom-control-label") %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-lg-3 d-flex align-items-center">
            <%= f.label :symptom_text, "その他症状" %>
          </div>
          <div class="col-lg-9">
            <%= f.text_area :symptom_text, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-lg-3 d-flex align-items-center">
            <%= f.label :remark,"備考" %>
          </div>
          <div class="col-lg-9">
            <%= f.text_area :remark, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-lg-3 d-flex align-items-center">
            <%= f.label :status, "予約状態" %>
          </div>
          <div class="col-lg-9">
            <%= f.select :status, Appointment.statuses_i18n.slice(:cancel, :request).invert, {prompt: ""}, {class: 'form-control'} %>
          </div>
        </div>
      </div>

      <div class="form-group text-center">
        <%= f.submit "保存", class: 'btn btn-outline-info col-3', "data-confirm" => "変更を保存しますか？"%>
      </div>
      <% end %>
  </div>
</div>