<table class="table table-bordered table-hover text-center">
          <thead class="thead">
            <tr>
              <th>予約時間</th>
              <th>氏名</th>
              <th>治療</th>
              <th>症状</th>
              <th>年齢</th>
              <th>予約状態</th>
            </tr>
          </thead>
          <tbody class="tbody">
            <tr>
              <td>
                <%= appointment.appointment_date.strftime("%H時%M分")%>
              </td>
              <td>
                <%= link_to appointment.patient.last_name_kana + appointment.patient.first_name_kana, admin_appointment_path(appointment.id), class: "text-dark" %>
              </td>
              <td>
                <% appointment.treatments.each do |treatment| %>
                  <%= treatment.name %><br>
                <% end %>
              </td>
              <td>
                <% appointment.symptoms.each do |symptom| %>
                  <%= symptom.name %><br>
                <% end %>
              </td>
              <td>
                <%= appointment.patient.get_age %>
              </td>
              <td>
                <%= appointment.status_i18n %>
              </td>
            </tr>
          </tbody>
        </table>