<div class='container-fluid'>
  <div class='row'>
      <%= render 'layouts/sidebar' %>
    <div class='col-md-9 offset-md-1'>
      <h3>予約編集</h3>
        <%= form_with model: @appointment, url: admin_appointment_path do |f| %>

        <div class="form-group">
          <div class="row">
            <div class="col-lg-3">
              患者ID
            </div>
            <div class="col-lg-9">
              <%= @appointment.patient.id %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-lg-3">患者名</div>
            <div class="col-lg-9"><%= @appointment.patient.full_name %> / <%= @appointment.patient.full_name %></div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-lg-3 d-flex align-items-center">
              <%= f.label :appointment_date, "予約日時" %>
            </div>
            <div class="col-lg-9">
              <%= f.datetime_field :appointment_date, class: 'form-control' %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-lg-3 d-flex align-items-center">
              <%= f.label "担当者" %>
            </div>
            <div class="col-lg-9">
              <%= f.collection_select :charge_id, Employee.all, :id, :name, class: 'form-control', include_blank: "選択してください" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-lg-3 d-flex align-items-center">
              <%= f.label "治療" %>
            </div>
            <div class="col-lg-9">
              <%= f.collection_check_boxes(:treatment_ids, Treatment.all, :id, :name) do |b| %>
                <%= b.label { b.check_box + b.text } %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-lg-3 d-flex align-items-center">
              <%= f.label "症状" %>
            </div>
            <div class="col-lg-9">
              <%= f.collection_check_boxes(:symptom_ids, Symptom.all, :id, :name) do |b| %>
                <%= b.label { b.check_box + b.text } %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-lg-3 d-flex align-items-center">
              <%= f.label :symptom_text, "その他症状" %>
            </div>
            <div class="col-lg-9">
              <%= f.text_area :symptom_text, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-lg-3 d-flex align-items-center">
              <%= f.label :remark,"備考" %>
            </div>
            <div class="col-lg-9">
              <%= f.text_area :remark, class: 'form-control' %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-lg-3 d-flex align-items-center">
              <%= f.label :status, "予約状態" %>
            </div>
            <div class="col-lg-9">
              <%= f.select :status, Appointment.statuses_i18n.invert, class: 'form-control' %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-lg-3 d-flex align-items-center">
              <%= f.label :subscriber_id, "予約者" %>
            </div>
            <div class="col-lg-9">
        <%= f.collection_select :subscriber_id, Employee.all, :id, :name, include_blank: "選択して下さい" %>
            </div>
          </div>
        </div>

        <div class="form-group text-center">
          <%= f.submit "保存", class: 'btn btn-outline-info col-3' %>
        </div>
        <% end %>
    </div>
  </div>
</div>
