<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'layouts/sidebar' %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h3>
        予約登録
      </h3>
        <%= form_with model: @appointment, url: admin_appointments_path do |f| %>

        <div class="form-group">
          <div class="row">
            <div class="col-lg-3">
              <%= f.label :patient_id, "患者ID" %>
            </div>
            <div class="col-lg-9">
              <%= @patient.id %>
              <%= f.hidden_field :patient_id, :value => @patient.id %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-lg-3">
              <%= f.label :patient_id, "名前" %>
            </div>
            <div class="col-lg-9">
              <%= @patient.full_name %> / <%= @patient.full_name_kana %>
          　　　<%= f.hidden_field :patient_id, :value => @patient.id %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-lg-3">
              <%= f.label :appointment_date, "予約日時" %>
            </div>
            <div class="col-lg-9">
              <%= f.datetime_field :appointment_date, class: 'form-control' %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-lg-3">
              <%= f.label :charge_id, "担当者" %>
            </div>
            <div class="col-lg-9">
              <%= f.collection_select :charge_id, Employee.all, :id, :name, include_blank: "選択して下さい", class: 'form-control' %>
            </div>
          </div>
        </div>

　　　　<div class="form-group row">
　　　　  <%= f.label :charge_id, "担当者", class: "col-3" %>
　　　　  <%= f.collection_select :charge_id, Employee.all, :id, :name, include_blank: "選択して下さい" %>
　　　　</div>

        <div class="form-group row">
          <%= f.label :remark,"備考", class: "col-5" %>
          <%= f.text_area :remark %>
        </div>

        <div class="form-group row">
          <%= f.label "症状", class: "col-5" %>
          <%= f.collection_check_boxes(:symptom_ids, Symptom.all, :id, :name) do |b| %>
            <%= b.label { b.check_box + b.text } %>
          <% end %>
        </div>

        <div class="form-group row">
          <%= f.label :symptom_text, "その他症状", class: "col-5" %>
          <%= f.text_area :symptom_text, class: "form-control col-5" %>
        </div>

        <div class="form-group row">
          <%= f.label "治療", class: "col-5" %>
          <%= f.collection_check_boxes(:treatment_ids, Treatment.all, :id, :name) do |b| %>
            <%= b.label { b.check_box + b.text } %>
          <% end %>
        </div>

        <div class="form-group text-center">
          <%= f.submit "登録", class: 'btn btn-sm btn-success col-4' %>
        </div>

        <div class="form-group row">
　　　　  <%= f.label :subscriber_id, "予約者", class: "col-3" %>
　　　　  <%= f.collection_select :subscriber_id, Employee.all, :id, :name, include_blank: "選択して下さい" %>
　　　　</div>
        <% end %>
    </div>
  </div>
</div>
