<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'layouts/sidebar' %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <div class="mini-title">予約登録</div>
        <%= form_with model: @appointment_form, url: admin_appointments_path do |f| %>
        
        <div class="form-group row">
          <%= f.label :patient_id, "患者id", class: "col-5" %>
          <%= f.select :patient_id, @patients.map(&:id), {include_blank: '選択ボックス'} %>
        </div>

        <div class="form-group row">
          <%= f.label :appointment_date, "予約日時", class: "col-5" %>
          <%= f.datetime_select :appointment_date, class: 'form-control col-2' %>
        </div>
        
        <div class="form-group row">
          <%= f.label :visit_date,"来院日時", class: "col-5" %>
          <%= f.datetime_select :visit_date, class: 'form-control col-2' %>
        </div>
        
        <div class="form-group row">
          <%= f.label :remark,"備考", class: "col-5" %>
          <%= f.text_area :remark %>
        </div>
        
        <div class="form-group row">
          <%= f.label :status, "予約ステータス", class: "col-5" %>
          <%= f.select :status, ['sample1', 'sample2', 'sample3'], {include_blank: '選択ボックス'} %>
        </div>
        
        <div class="form-group row">
          <%= f.label :symptom_text, "症状", class: "col-5" %>
          <%= f.text_area :symptom_text, class: "form-control col-5" %>
        </div>
        
        <div class="form-group text-center">
          <%= f.submit "登録", class: 'btn btn-sm btn-success col-4' %>
        </div>
        
        <div class="form-group row">
          <%= f.label :symptom_id, "症状id", class: "col-5" %>
          <%= f.select :symptom_id, @symptoms.map(&:id), {include_blank: '選択ボックス'} %>
        </div>
        
        <div class="form-group row">
          <%= f.label :treatment_id, "治療id", class: "col-5" %>
          <%= f.select :treatment_id, @treatments.map(&:id), {include_blank: '選択ボックス'} %>
        </div>
        <% end %>
    </div>
  </div>
</div>
