<div class='row'>
  <%= render 'layouts/sidebar' %>
  <div class='col-md-8 offset-md-1 mt-3'>
    <h3>予約詳細</h3>

    <div class="table">
      <div class="row">
        <div class="col-lg-3">
          患者ID
        </div>
        <div class="col-lg-9">
          <%= @appointment.patient_id %>
        </div>
      </div>
    </div>

    <div class="table">
      <div class="row">
        <div class="col-lg-3">
          名前
        </div>
        <div class="col-lg-9">
          <%= @appointment.patient.full_name %> / <%= @appointment.patient.full_name_kana %>
        </div>
      </div>
    </div>

    <div class="table">
      <div class="row">
        <div class="col-lg-3">
          予約日時
        </div>
        <div class="col-lg-9">
          <%= @appointment.appointment_date.strftime("%Y年%m月%d日 %H時%M分") %>
        </div>
      </div>
    </div>

    <div class="table">
      <div class="row">
        <div class="col-lg-3">
          担当者
        </div>
        <div class="col-lg-9">
          <% unless @appointment.charge.nil? %>
            <%= @appointment.charge.name %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="table">
      <div class="row">
        <div class="col-lg-3">
          治療
        </div>
        <div class="col-lg-9">
    <% @appointment.treatments.each do |treatment| %>
            <% if @appointment_treatment.present? %>
              <%= treatment.name %>
            <% else %>
              <%= "未登録" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="table">
      <div class="row">
        <div class="col-lg-3">
          症状
        </div>
        <div class="col-lg-9">
          <% @appointment.symptoms.each do |symptom| %>
            <% if @appointment_symptom.present? %>
              <%= symptom.name %>
            <% else %>
              <%= "未登録" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="table">
      <div class="row">
        <div class="col-lg-3">
          その他症状
        </div>
        <div class="col-lg-9">
          <%= @appointment.symptom_text %>
        </div>
      </div>
    </div>

    <div class="table">
      <div class="row">
        <div class="col-lg-3">
          備考
        </div>
        <div class="col-lg-9">
          <%= @appointment.remark %>
        </div>
      </div>
    </div>

    <div class="table">
      <div class="row">
        <div class="col-lg-3">
          予約状態
        </div>
        <div class="col-lg-9">
          <%= @appointment.status_i18n %>
        </div>
      </div>
    </div>

    <div class="table">
      <div class="row">
        <div class="col-lg-3">
          来院日時
        </div>
        <div class="col-lg-9">
          <% unless @appointment.visit_date.nil? %>
            <%= @appointment.visit_date.strftime("%Y年%m月%d日") %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="table">
      <div class="row">
        <div class="col-lg-3">
          予約者
        </div>
        <div class="col-lg-9">
          <% unless @appointment.subscriber.nil? %>
            <%= @appointment.subscriber.name %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="text-center">
      <div class="row">
        <div class="col">
          <%= link_to "編集", edit_admin_appointment_path(params[:id]), class: 'btn btn-outline-info col-2' %>
          <%= link_to "来院", admin_visit_date_path(id: params[:id]), class: 'btn btn-outline-danger col-3', "data-confirm" => "来院しましたか？" %>
        </div>
      </div>
    </div>
  </div>
</div>
