<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'layouts/sidebar' %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <div class="mini-title">
        <%= @patient.last_name + @patient.first_name %>さんの予約詳細
      </div>
      <table class="table table-bordered ml-5">
        <tbody>
          <tr>
            <th class="col-4 text-center">カルテNo</th>
            <td>
              <%= @appointment.patient_id %>
            </td>
          </tr>
          <tr>
            <th class="col-4 text-center">予約日時</th>
            <td>
              <%= @appointment.appointment_date %>
            </td>
          </tr>
          <tr>
            <th class="col-4 text-center">担当者</th>
            <td>
              <%= @appointment.charge_id %>
            </td>
          </tr>
          <tr>
            <th class="col-4 text-center">備考</th>
            <td>
              <%= @appointment.remark %>
            </td>
          </tr>
          <tr>
            <th class="col-4 text-center">予約ステータス</th>
            <td>
              <%= @appointment.status %>
            </td>
          </tr>
          <tr>
            <th class="col-4 text-center">治療</th>
            <td>
              <% if @appointment_treatment.present? %>
                <%=  @treatment.name %>
              <% else %>
                <%= "未登録" %>
              <% end %>
              </td>
          </tr>
          <tr>
            <th class="col-4 text-center">症状</th>
            <td>
              <% if @appointment_symptom.present? %>
                <%= @symptom.name %>
              <% else %>
                <%= "未登録" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th class="col-4 text-center">症状その他</th>
            <td><%= @appointment.symptom_text %></td>
          </tr>
          <tr>
            <th class="col-4 text-center">予約者</th>
            <td>
              <%= @appointment.charge_id %>
            </td>
          </tr>
          <tr>
            <th class="col-4 text-center">来院</th>
            <td>
              <%= @appointment.visit_date %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="form-group text-center">
        <%#= link_to "編集", edit_admin_patient_path(params[:id]), class: 'btn btn-sm btn-success col-4' %>
      </div>
    </div>
  </div>
</div>