<div class='row'>
  <%= render 'layouts/item_sidebar' %>
  <div class='col-md-8 offset-md-1'>
    <h3>スタッフ一覧・追加</h3>
    <%= render 'layouts/error', obj: @employee %>

    <div class="form-group">
         <%= form_with model: @employee, url: admin_employees_path, method: :post do |f| %>
     <div class="row">
      <div class="col-4">
      <%= f.label :スタッフ名 %>
      <%= f.text_field :name, class: "form-control" %>
            <%= f.submit "新規登録", class: "btn btn-outline-info" %>

      <%= f.submit "新規登録", class: "btn btn-outline-info" %>

    </div>
      <% end %>
    </div>



    <div class="table">
     	<div class="table_line">
     		<div class="block">スタッフ</div>
     		<div class="block"></div>
     	</div>
     	<div class="table_line">
     		<div class="block">2段目 ブロックA</div>
     		<div class="block">2段目 ブロックB</div>
     	</div>
    </div>

  <div class="row">
   <div class="col-5">
    <table class="table table-bordered table-hover text-center">
     <thead class="thead">
      <tr>
       <th>スタッフ</th>
       <th colspan="3"></th>
      </tr>
     </thead>
    <tbody class="tbody">
      <% @employees.each do |employee| %>
       <tr>
        <td><%= employee.name %></td>
        <td><%= link_to "編集する", edit_admin_employee_path(employee), class: "btn btn-sm btn-success admin_genre_edit" %></td>
       </tr>
      <% end %>
     </tbody>
    </table>
       <%= link_to "戻る", admin_item_path %>
  </div>
 </div>
</div>
</div>