<div class='row'>
 <%= render 'layouts/item_sidebar' %>
  <div class='col-md-9 offset-md-1 mt-3'>
   <h3>スタッフ一覧・追加</h3>
   <%= render 'layouts/error', obj: @employee %>

   <div class="form-group">
    <%= form_with model: @employee, url: admin_employees_path, method: :post do |f| %>
     <div class="row d-flex justify-content-center">
      <div class="col-5 mt-2">
       <%= f.label :スタッフ名 %>
       <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="item-index">
       <%= f.submit "新規登録", class: "btn btn-outline-info" %>
      </div>
     </div>
    <% end %>
  </div>

    <% @employees.each do |employee| %>
     <% if !employee.is_deleted %>
     <div class="row mb-3 border-bottom d-flex justify-content-center">
      <div class="col-md-5">
       <%= employee.name %>
      </div>
      <div>
       <%= link_to "編集", edit_admin_employee_path(employee), class: "btn btn-sm btn-block btn-outline-secondary" %>
      </div>
     </div>
     <% end %>
    <% end %>
    <div class="d-flex justify-content-center mt-3">
      <%= paginate @employees %>
    </div>
  </div>
</div>