<div class='row'>
 <%= render 'layouts/item_sidebar' %>
  <div class='col-md-9 offset-md-1 mt-3'>
   <h3>感染症一覧・追加</h3>
   <%= render 'layouts/error', obj: @infection %>

   <div class="form-group">
    <%= form_with model: @infection, url: admin_infections_path, method: :post do |f| %>
     <div class="row d-flex justify-content-center">
      <div class="col-5 mt-2">
       <%= f.label :感染症名 %>
       <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="item-index">
       <%= f.submit "新規登録", class: "btn btn-outline-info" %>
      </div>
     </div>
    <% end %>
  </div>

    <% @infections.each do |infection| %>
     <div class="row mb-3 border-bottom d-flex justify-content-center">
      <div class="col-md-5">
       <%= infection.name %>
      </div>
      <div>
       <%= link_to "編集する", edit_admin_infection_path(infection), class: "btn btn-block btn-outline-secondary" %>
      </div>
     </div>
    <% end %>

    <div class="d-flex justify-content-center mt-3">
      <%= paginate @infections %>
    </div>
  </div>
</div>