<div class='row'>
  <%= render 'layouts/sidebar' %>
  <div class='col-md-8 offset-md-1'>
    <h3>
      <% if @patient.full_name.present? %>
        <%= @patient.full_name %>さんの予約履歴
      <% else %>
        <%= @patient.full_name_kana %>さんの予約履歴
      <% end %>
    </h3>

    <div class="table">
      <div class="row">
        <div class="col-lg-2">
          ＜予約日時＞
        </div>
        <div class="col-lg-2">
          ＜来院日＞
        </div>
        <div class="col-lg-2">
         ＜担当者＞
        </div>
        <div class="col-lg-4">
          ＜治療＞
        </div>
        <div class="col-lg-2">
          ＜予約状況＞
        </div>
      </div>
    </div>

    <div class="table">
      <% @appointments.each do |appointment| %>
        <div class="row">
          <div class="col-lg-2">
            <%= link_to admin_appointment_path(appointment.id) do %>
              <%= appointment.appointment_date.strftime("%Y年%m月%d日 %H時%M分") %>
            <% end %>
          </div>
          <div class="col-lg-2">
            <% if appointment.visit_date.present? %>
              <%= appointment.visit_date.strftime("%Y年%m月%d日") %>
            <% end %>
          </div>
          <div class="col-lg-2">
          <% if appointment.charge.present? %>
            <%= appointment.charge.name %>
          <% end %>
          </div>
          <div class="col-lg-4">
            <% appointment.treatments.each do |treatment| %>
              <%= treatment.name %>
            <% end %>
          </div>
          <div class="col-lg-2">
            <%= appointment.status_i18n %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
