<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'layouts/sidebar' %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <div class="mini-title">患者一覧</div>
      <table class="table table-bordered table-hover text-center">
          <thead class="thead">
            <tr>
              <th>患者ID</th>
              <th>氏名</th>
              <th>電話番号</th>
              <th>性別</th>
              <th>年齢</th>
            </tr>
          </thead>
          <tbody class="tbody">
          <% @patients.each do |patient| %>
            <tr onclick='window.location="<%= '/admin/patients/' + patient.id.to_s %>"' role="link">>
              <td>
                <%= patient.id %>
              </td>
              <td>
              <% if patient.last_name.present? %>
                <%= patient.last_name + " " + patient.first_name %>
              <% else %>
                <%= patient.last_name_kana + " " + patient.first_name_kana %>
              <% end %>
              </td>
              <td>
                <%= patient.telephone_number %>
              </td>
              <td>
                <%= patient.gender_i18n %>
              </td>
              <td>
                <%= patient.get_age %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>
</div>
