  <div class='row'>
    <%= render 'layouts/sidebar' %>
    <div class='col-sm-8 offset-md-1 mt-3'>

<div class="search-index">
  <h3>【<%= @keyword %>】の検索結果</h3>

      <table class="table table-bordered table-hover text-center">
          <thead class="thead">
            <tr>
              <th>患者ID</th>
              <th>氏名</th>
              <th>電話番号</th>
              <th>性別</th>
              <th>年齢</th>
            </tr>
          </thead>
          <tbody class="tbody">
          <% @patients.each do |patient| %>
            <tr>
              <td>
                <%= patient.id %>
              </td>
              <td>
                <%= link_to patient.last_name_kana + " " + patient.first_name_kana, admin_patient_path(patient.id), class: "text-dark" %>
              </td>
              <td>
                <%= patient.telephone_number %>
              </td>
              <td>
                <%= patient.gender_i18n %>
              </td>
              <td>
                <%= patient.get_age %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
