<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'layouts/sidebar' %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <div class="mini-title">
        <%= @patient.last_name_kana + " " + @patient.first_name_kana %>さんの患者詳細
      </div>
      <table class="table table-bordered ml-5">
        <tbody>
          <tr>
            <th class="col-4 text-center">カルテNo</th>
            <td><%= @patient.id %></td>
          </tr>
          <tr>
            <th class="col-4 text-center">名前</th>
            <td>
              <%= @patient.last_name + " " + @patient.first_name %>
            </td>
          </tr>
          <tr>
            <th class="col-4 text-center">フリガナ</th>
            <td>
              <%= @patient.last_name_kana + " " + @patient.first_name_kana%>
            </td>
          </tr>
          <tr>
            <th class="col-4 text-center">誕生日</th>
            <td>
              <%= @patient.birthday %>
            </td>
          </tr>
          <tr>
            <th class="col-4 text-center">年齢</th>
            <td>
              <%= @patient.get_age %>
            </td>
          </tr>
          <tr>
            <th class="col-4 text-center">性別</th>
            <td>
              <%= @patient.gender_i18n %>
            </td>
          </tr>
          <tr>
            <th class="col-4 text-center">電話番号</th>
            <td><%= @patient.telephone_number %></td>
          </tr>
          <tr>
            <th class="col-4 text-center">メールアドレス</th>
            <td><%= @patient.email %></td>
          </tr>
          <tr>
            <th class="col-4 text-center">郵便番号</th>
            <td><%= @patient.postal_code %></td>
          </tr>
          <tr>
            <th class="col-4 text-center">住所</th>
            <td><%= @patient.address %></td>
          </tr>
          <tr>
            <th class="col-4 text-center">注意事項</th>
            <td><%= @patient.patient_text %></td>
          </tr>
          <tr>
            <th class="col-4 text-center">感染症</th>
            <td>
              <% if @patient_infection.present? %>
                <%=  @infection.name %>
              <% else %>
                <%= "なし" %>
              <% end %>
              </td>
          </tr>
        </tbody>
      </table>
      <div class="form-group text-center">
        <%= link_to "編集", edit_admin_patient_path(params[:id]), class: 'btn btn-sm btn-success col-4' %>
        <%= link_to "予約取得", new_admin_appointment_path, class: 'btn btn-sm btn-success col-4' %>
      </div>
    </div>
  </div>
</div>