<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
      <%= render partial: 'layouts/flash' %>
      <h2>パスワード再設定</h2>
        <%= render "public/shared/error_messages", resource: resource %>
    </div>
  </div>

  <%= form_with model: @patient, url: patient_password_path, method: :patch, local: true do |f| %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field form-group">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <%= f.label :password, "新しいパスワード" %><br />
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="field form-group">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <%= f.label :password_confirmation, "新しいパスワード確認" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control mb-3" %>
        </div>
      </div>
    </div>

    <div class="actions">
      <div class="row">
        <div class="col text-center">
          <%= f.submit "パスワード変更", class: "btn btn-outline-info col-3 mb-3" %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="text-center">
    <%= render "public/shared/links" %>
  </div>
</div>
