<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
      <%= render partial: 'layouts/flash' %>
      <h2>パスワード再設定</h2>
        <%= render "public/shared/error_messages", resource: resource %>
    </div>
  </div>

  <%= form_with model: @patient, url: patient_password_path, local: true do |f| %>

    <div class="field form-group">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, required: true, autocomplete: "email", class: "form-control mb-3" %>
        </div>
      </div>
    </div>

    <div class="actions">
      <div class="row">
        <div class="col text-center">
          <%= f.submit "再設定メール送信", class: "btn btn-outline-info col-3 mb-3" %>
        </div>
      </div>
    </div>
  <% end %>

    <div class="text-center">
      <%= render "public/shared/links" %>
    </div>
</div>

