<div class='row'>
 <%= render 'layouts/item_sidebar' %>
  <div class='col-md-9 offset-md-1 mt-3'>
   <h3>症状一覧・追加</h3>
   <%= render 'layouts/error', obj: @symptom %>

   <div class="form-group">
    <%= form_with model: @symptom, url: admin_symptoms_path, method: :post do |f| %>
     <div class="row d-flex justify-content-center">
      <div class="col-5 mt-2">
       <%= f.label :症状名 %>
       <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="item-index">
       <%= f.submit "新規登録", class: "btn btn-outline-info" %>
      </div>
     </div>
    <% end %>
  </div>

    <% @symptoms.each do |symptom| %>
     <div class="row mb-3 border-bottom d-flex justify-content-center">
      <div class="col-md-5">
       <%= symptom.name %>
      </div>
      <div>
       <%= link_to "編集する", edit_admin_symptom_path(symptom), class: "btn btn-block btn-outline-secondary" %>
      </div>
     </div>
    <% end %>
    <div class="d-flex justify-content-center mt-3">
      <%= paginate @symptoms %>
    </div>
  </div>
</div>