<div class='col-md-1 sidebar-all'>
  <div class="sidebar mb-2 mb-md-3 mt-0 mt-md-3">
    <div class="row">
      <div class="col">
        <%= link_to admin_employees_path do %>
          スタッフ<i class="fas fa-user-friends ml-1"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="sidebar mb-2 mb-md-3">
    <div class="row">
      <div class="col">
        <%= link_to admin_treatments_path do %>
          治療<i class="fas fa-teeth ml-1"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="sidebar mb-2 mb-md-3">
    <div class="row">
      <div class="col">
        <%= link_to admin_symptoms_path do %>
          症状<i class="fas fa-head-side-mask ml-1"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="sidebar mb-2 mb-md-3">
    <div class="row">
      <div class="col">
        <%= link_to admin_infections_path do %>
          感染症<i class="fas fa-viruses ml-1"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="sidebar mb-2 mb-md-3">
    <div class="row">
      <div class="col">
        <%= link_to top_path do %>
          topへ<i class="fas fa-hand-point-left ml-1"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
